name: Release automation

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
    inputs:
      version_number:
        description: 'Release Version Number (Eg, v1.0.0)'
        required: true
      branch:
        description: 'Branch to release from'
        required: false
        default: 'main'

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Release
        uses: FreeRTOS/CI-CD-Github-Actions/release@main
        with:
          version_number: ${{ github.event.inputs.version_number }}
          branch: ${{ github.event.inputs.branch }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
